@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
}

@keyframes spin {
  from {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#earth-container {
  height: 50vh;
  width: 50vh;
}

#hero-container {
  height: 50vh;  
  width: 50vh;
}

#landing-container{
  height: 100vh;
}

#navbar-translucent{
  position: sticky;
  top: 0;
}
